.icons{
    padding: 10%;
    display: flex;
    justify-content: right;
}

.footer {
    background-color: rgba(62, 46, 28, 0.536);
    padding: 20px 0;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}
.icons{
    
    justify-content: left;
}
.footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    text-size-adjust: 20px;
    background: rgb(241,237,225);
    padding: 20px;
}

.opciones {
    text-align: left;
    margin-top: 10px;
}

.apps {
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.apps:hover {
    color: rgb(111, 50, 21);
}
