.container-fluid {
    color: wheat;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(83, 50, 40);
    text-shadow: 0 0 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 60px;
}

.nav-item {
    color: white;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.navbar-nav{
    text-align: center !important;
}

.jumbotron {
    height: 400px;
    background-image: url(header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}