@charset "UTF-8";
.container-fluid {
  color: wheat;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(83, 50, 40);
  text-shadow: 0 0 2px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 60px;
}

.nav-item {
  color: white;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.navbar-nav {
  text-align: center !important;
}

.jumbotron {
  height: 400px;
  background-image: url(header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

.icons {
  padding: 10%;
  display: flex;
  justify-content: right;
}

.footer {
  background-color: rgba(62, 46, 28, 0.536);
  padding: 20px 0;
  text-align: center;
}

.social-icons img {
  width: 30px;
  margin: 0 10px;
}

.icons {
  justify-content: left;
}

.footer {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  text-size-adjust: 20px;
  background: rgb(241, 237, 225);
  padding: 20px;
}

.opciones {
  text-align: left;
  margin-top: 10px;
}

.apps {
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.apps:hover {
  color: rgb(111, 50, 21);
}

.nleft {
  padding: 10%;
  color: rgb(57, 42, 29);
  text-shadow: 0 0 2px rgb(204, 144, 84);
}

.nright {
  padding: 10%;
}

.formulario {
  max-width: 600px;
  margin: 50px;
  padding: 50px;
  background-color: #D2B48C;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type=text],
input[type=email],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #8B4513; /* Marrón */
  color: rgb(243, 237, 237);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 10px rgb(125, 95, 68);
  font-size: xx-large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #A0522D; /* Marrón más oscuro */
}

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.mapa {
  max-width: 800px;
  padding: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.texto {
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 30px;
  transform: scale(0.2);
}

.ubicacion {
  display: flex;
  align-items: center;
}

.historia {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promociones {
  height: 400px;
  background-image: url(coffee-hd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

.novedades {
  height: 400px;
  background-image: url(coffee\ hd\ 2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

.blog {
  height: 400px;
  background-image: url(ruben.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

body {
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}

.carrusel {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

.carrusel {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel img {
  width: 100%;
  height: auto;
  display: block;
}

/*# sourceMappingURL=estilos.css.map */
